
.bmi-container{
margin-left:700px;
margin-top:300px ;

}

.input-text input{
width:200px;
height: 60px;
border-radius: 15px;
border: none;
margin-top:80px ;

}
.input_Text input{
  width:200px;
  height: 60px;
  border-radius: 15px;
  border: none;
}

.input-text select{
  width:150px;
  height: 60px;
  border-radius: 15px;
  border: none;
  text-align: center;
  margin-left: 15px;



}
.input_Text select{
  width:150px;
  height: 60px;
  border-radius: 15px;
  border: none;
  text-align: center;
  margin-left: 15px;
}
.btn{
  width:200px;
  height: 60px;
  border-radius: 15px;
  border: none;

}
.buttons{
display: flex;
gap: 15px;
}
.submit_button button{
  width:150px;
  height: 60px;
  border-radius: 25px;
  border: none;
  margin-top:50px;
  margin-left: 60px;
background-color: green;
color: white;
}
.reset_button button{
  width:150px;
  height: 60px;
  margin-left: 50px;
  border-radius: 25px;
  border: none;
  margin-top: 50px;
background-color: crimson;
color: white;
}